html {
    font-size: 16px;
}

button > .e1nzilvr5 > p {
    font-size: 13px;
}
.ef3psqc12 {
    height: 25px;
}
.st-emotion-cache-19rxjzo {
    min-height: 15px;
}

.st-emotion-cache-hc3laj {
    min-height: 15px
}




